body {
    background-color: #DFFFD8;
}
hr{
    background-color: #DFFFD8;
    border-style: none;
    border-top-style:dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
    height: 0%;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
h4{
    color: #71C9CE;
}
